venv/
.venv/
.env

__pycache__/
*.py[cod]

airflow/*
!airflow/dags/
airflow/dags/*
!airflow/dags/ingest_dag.py
!airflow/dags/transform_dag.py
!airflow/dags/clean_dag.py
!airflow/dags/helpers/

logs/
airflow.db
airflow.db-shm
airflow.db-wal
airflow.cfg
simple_auth_manager_passwords.json.generated
*.pid
pyrightconfig.json
.vscode/settings.json

dataset/processed/
