venv/
.venv/
.env

airflow/*
!airflow/dags/
airflow/dags/*
!airflow/dags/ingest_dag.py
!airflow/dags/helpers/
airflow/dags/helpers/__pycache__/

logs/
airflow.db
airflow.db-shm
airflow.db-wal
airflow.cfg
simple_auth_manager_passwords.json.generated
*.pid
__pycache__/
pyrightconfig.json